/* The name of the window itself */
#window {
  background-color: #1f2335;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: 1px solid #c3e88d;
  font-size: 1.2rem;
  background-color: "JetBrainsMono NF Medium";
  /* The name of the box that contains everything */
}
#window #outer-box {
  border: 1px solid #c3e88d;
}

#window #outer-box #input {
  /*background-color: #1f2335;*/
  color: #fff;
  border: none;
  border-bottom: 1px solid #c3e88d;
  padding: 0.8rem 1rem;
  border-radius: 0;
}

#input:focus {
  box-shadow: none;
}

#window #outer-box #input:focus,
#window #outer-box #input:focus-visible,
#window #outer-box #input:active {
  border: 1px solid #c3e88d;
  color: #ffffff;
}
#window #outer-box #scroll {
  /* The name of the box containing all of the entries */
}
#window #outer-box #scroll #inner-box {
  /* The name of all entries */
  /* The name of all boxes shown when expanding  */
  /* entries with multiple actions */
}
#window #outer-box #scroll #inner-box #entry {
  background-color: transparent;
  padding: 0.6rem 1rem;
  /* The name of all images in entries displayed in image mode */
  /* The name of all the text in entries */
}
#window #outer-box #scroll #inner-box #entry #img {
  width: 1rem;
  margin-right: 0.5rem;
}
#window #outer-box #scroll #inner-box #entry:selected {
  background-color: #c3e88d;
}
#entry {
  color: #ffffff;
}
#text:selected {
  color: #1f2335;
}
